
@{
    ViewBag.Title = "Index";
}


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Thông Tin Liên Hệ</h3>
</div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    <h3>
                        Liên Hệ
                    </h3>
                    <h4>Trụ sở chính</h4>
                    <p>
                        <b>
                            ĐC: 301A An Phú Đông , P10 , 207 Vườn Lài An phú đông 10
                            Tel: 0912.73.1110
                        </b>
                    </p>
                    <h4>Văn phòng giao dịch</h4>
                    <p>
                        <b>
                            ĐC: 301A An Phú Đông , P10 , 209 Vườn Lài An phú đông 10
                            Tel:0378149630
                        </b>
                    </p>
                    <h4>Liên hệ tư vấn Online</h4>
                    <p>
                        <b>
                            Mọi thắc mắc xin liên hệ với các thành viên quản lý của chúng tôi
                            Họ sẽ tư vấn cho các bạn 👇👇👇
                        </b>
                    </p>
                </div>
            </div>
            
            <div id="map" style="width:600px;height:600px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.365133826851!2d106.69243501428757!3d10.859808160619853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529c17978287d%3A0xec48f5a17b7d5741!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ3V54buFbiBU4bqldCBUaMOgbmggLSBDxqEgc-G7nyBxdeG6rW4gMTI!5e0!3m2!1svi!2s!4v1654027160699!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- our_team_member_start -->
<div class="our_team_member" style="padding-top:10px">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Asset/Images/sanPham/gd1.jpg" />
                        <div class="social_link">
                            <a href=""><i class="fa fa-envelope">Zalo</i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Trung Đức</h3>
                        <p>03trungduck29@gmail.com  &&<br /> SDT :0378149630</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Asset/Images/sanPham/gd2.jpg" />
                        @*<img src="~/Materials/Images/team/2.png" alt="">*@
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Khắc Triệu</h3>
                        <p>khactrieu@gmail.com  &&<br /> SDT :0378149630</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Asset/Images/sanPham/gd3.jpg" />
                        @*<img src="~/Materials/Images/team/3.png" alt="">*@
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Hoài Thương</h3>
                        <p>nthoaithuong@gmail.com && <br /> SDT :0378149630</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="single_team">
                    <div class="thumb">
                        <img src="~/Asset/Images/sanPham/gd4.jpg" />
                        <div class="social_link">
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="master_name text-center">
                        <h3>Thanh Lâm</h3>
                        <p>thanhlam2022@gmail.com &&<br /> SDT :0378149630</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>