
@{
    ViewBag.Title = "Index";
}


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Các bài viết Mô Tả về các loại cây</h3>
</div>
<!-- bradcam_area_end -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                  
                    <article class="blog_item">
                       
                        <div class="blog_details">
                            <a class="d-inline-block" href="https://vuahatgiong.com/san-pham/hat-giong-dua-hau-duong-10gr/">
                                <h2>Mô Tả về hạt giống HẠT GIỐNG DƯA HẤU ĐƯỜNG</h2>
                            </a>
                            <p>
                                Dưa hấu là loại trái cây có giá trị dinh dưỡng cao, cung cấp một lượng vừa phải năng lượng cho cơ thể. Phần lớn hơn 90% trọng lượng của dưa hấu là nước, vì thế mà hàm lượng calo có trong dưa hấu tương đối thấp.
                                Đối với kỹ thuật gieo trồng nên chú ý phơi hạt giống dưới nắng khoảng 1-2 giờ.  Sau đó để hạt nguội đem ngâm hạt với nước ấm, nên chú ý tránh nước quá nóng và quá lạnh,tỷ lệ của nước ấm khoảng 2 phần nước sôi và 3 phần lạnh.Ngâm hạt giống hắc mỹ nhân khoảng 4-6 giờ, sau đó vớt ra để ráo.Đem đi ủ trong 1 chiếc khăn ẩm sạch đợi hạt nứt mới đem gieo.
                            </p>
                           
                        </div>
                    </article>
                    <article class="blog_item">
                       
                        <div class="blog_details">
                            <a class="d-inline-block" href="https://vuahatgiong.com/san-pham/hat-giong-dua-chuot-khong-lo/">
                                <h2>Mô Tả về HẠT GIỐNG DƯA CHUỘT KHỔNG LỒ</h2>
                            </a>
                            <p>
                                Trên thế giới có hàng trăm loại trái cây độc lạ, trong đó dưa chuột đỏ khổng lồ có hình dáng quái đản nhưng lại được các bà nội chợ săn lùng vì chúng quá độc đáo. Giống dưa chuột đỏ rất thơm, ăn khá ngọt. Chúng có thể ăn trực tiếp hoặc làm nguyên liệu để chế biến món ăn.Thậm trí vì chúng có hương thơm dễ chịu nên còn được đặt trong phòng hoặc trong tủ quần áo.

                            </p>
                            
                        </div>
                    </article>
                    <article class="blog_item">
                       
                        <div class="blog_details">
                            <a class="d-inline-block" href="https://vuahatgiong.com/san-pham/hat-giong-bi-dao/">
                                <h2>HẠT GIỐNG BÍ ĐAO</h2>
                            </a>
                            <p>
                                Bí đao là loại rau xanh thường dùng phổ biến trong các bữa ăn của mọi người cũng tương tự như dưa chuột. Có thể dùng bí đao ăn luộc hoặc nấu canh tôm, canh cua, làm nộm, xào thịt gà, thịt lợn. Bí đao còn dùng làm mứt, mứt bí đao thường dùng trong dịp Tết Nguyên đán. Ăn bí đao có tác dụng thông tiểu, tiêu phù, giải khát, mát tim, giảm phiền muộn, bớt mụn nhọt, vỏ quả dùng chữa đái dắt do bàng quang nhiệt hoặc đái đục ra chất nhầy. Hạt bí đao cũng dùng rang ăn và dùng chữa ho, giải độc và trị rắn cắn. Lá bí đao giã nát trộn với giấm bôi đắp chữa các đầu ngón tay sưng đau (chín mé), ở Campuchia, người ta dùng rễ nấu nước tắm để trị bệnh đậu mùa.
                            </p>
                         
                        </div>
                    </article>
                    
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--================Blog Area =================-->
